<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songyinglong.hgshop.mapper.SpuMapper">
  <resultMap id="BaseResultMap" type="com.songyinglong.hgshop.entity.Spu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="is_marketable" jdbcType="VARCHAR" property="isMarketable" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="caption" jdbcType="VARCHAR" property="caption" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="small_pic" jdbcType="VARCHAR" property="smallPic" />
    <association  property="brand" select="com.songyinglong.hgshop.mapper.BrandMapper.selectByPrimaryKey" column="brand_id"/>
    <association property="category" select="com.songyinglong.hgshop.mapper.CategoryMapper.selectByPrimaryKey" column="category_id"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, goods_name, is_marketable, brand_id, caption, category_id, small_pic
  </sql>
  <select id="selectByExample" parameterType="com.songyinglong.hgshop.entity.SpuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hg_spu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hg_spu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hg_spu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.songyinglong.hgshop.entity.SpuExample">
    delete from hg_spu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.songyinglong.hgshop.entity.Spu">
    insert into hg_spu (id, goods_name, is_marketable, 
      brand_id, caption, category_id, 
      small_pic)
    values (#{id,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{isMarketable,jdbcType=VARCHAR}, 
      #{brandId,jdbcType=INTEGER}, #{caption,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, 
      #{smallPic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.songyinglong.hgshop.entity.Spu">
    insert into hg_spu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="isMarketable != null">
        is_marketable,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="caption != null">
        caption,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="smallPic != null">
        small_pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="isMarketable != null">
        #{isMarketable,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="caption != null">
        #{caption,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="smallPic != null">
        #{smallPic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.songyinglong.hgshop.entity.SpuExample" resultType="java.lang.Long">
    select count(*) from hg_spu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update hg_spu
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.goodsName != null">
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.isMarketable != null">
        is_marketable = #{record.isMarketable,jdbcType=VARCHAR},
      </if>
      <if test="record.brandId != null">
        brand_id = #{record.brandId,jdbcType=INTEGER},
      </if>
      <if test="record.caption != null">
        caption = #{record.caption,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.smallPic != null">
        small_pic = #{record.smallPic,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update hg_spu
    set id = #{record.id,jdbcType=INTEGER},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      is_marketable = #{record.isMarketable,jdbcType=VARCHAR},
      brand_id = #{record.brandId,jdbcType=INTEGER},
      caption = #{record.caption,jdbcType=VARCHAR},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      small_pic = #{record.smallPic,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.songyinglong.hgshop.entity.Spu">
    update hg_spu
    <set>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="isMarketable != null">
        is_marketable = #{isMarketable,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="caption != null">
        caption = #{caption,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="smallPic != null">
        small_pic = #{smallPic,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.songyinglong.hgshop.entity.Spu">
    update hg_spu
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      is_marketable = #{isMarketable,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=INTEGER},
      caption = #{caption,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      small_pic = #{smallPic,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectSpuAll" resultType="Spu">
    select
    id, goods_name
    from hg_spu
  </select>
  <select id="selectSpuIdsBySearch" resultType="java.lang.Integer" >
    SELECT p.id
    FROM hg_sku k JOIN hg_spu p ON k.spu_id=p.id
    LEFT JOIN hg_category c1 ON p.category_id=c1.id
    LEFT JOIN hg_category c2 ON c1.parent_id=c2.id
    LEFT JOIN hg_category c3 ON c2.parent_id=c3.id
    LEFT JOIN hg_brand b ON p.brand_id=b.id
    LEFT JOIN hg_sku_spec ks on k.id=ks.sku_id
    <!-- <if test="optionIds!=null">
    <foreach collection="optionIds" index="i">
        LEFT JOIN hg_sku_spec ks${i} ON k.id=ks${i}.sku_id
    </foreach>
    </if> -->
    <where>
      <if test="keyword!=null and keyword!=''">
        and (k.title like concat('%',#{keyword},'%') or p.goods_name like concat('%',#{keyword},'%') or c1.name like concat('%',#{keyword},'%') or c2.name like concat('%',#{keyword},'%') or c3.name like concat('%',#{keyword},'%') or b.name like concat('%',#{keyword},'%'))
      </if>
      <!-- <if
          test="startPrice!=null and startPrice!=0 and endPrice!=null and endPrice!=0 ">
          and k.price between #{startPrice} and #{endPrice}
      </if> -->
      <if test="brandId!=null">
        and b.id =#{brandId}
      </if>
      <if test="categoryId!=null">
        and c1.id =#{categoryId}
      </if>
      <if test="optionId!=null">
        and ks.spec_option_id=#{optionId}
      </if>
      <!-- <if test="optionIds!=null and optionIds.size()>0">
      <foreach collection="optionIds" index="i" item="subList">
          and ks${i}.spec_option_id in
          <foreach collection="subList" open="(" close=")" separator="," item="optionId">
              #{optionId}
          </foreach>
      </foreach>
      </if> -->
    </where>
  </select>
  <select id="selectSpuByIds" resultType="com.songyinglong.hgshop.entity.Spu">
    select p.id,p.brand_id,p.category_id
    from hg_spu p
    where p.id in
    <foreach collection="list" open="(" close=")" separator="," item="id">
      #{id}
    </foreach>
  </select>
  <select id="selectCategoryBySpuIds" resultType="category">
    select distinct c.id,c.name
    from hg_category c join hg_spu p on c.id=p.category_id
    where p.id in
    <foreach collection="list" open="(" close=")" separator="," item="id">
      #{id}
    </foreach>
  </select>
  <select id="selectBrandBySpuIds" resultType="brand">
    select distinct b.id,b.name
    from hg_brand b join hg_spu p on b.id=p.brand_id
    where p.id in
    <foreach collection="list" open="(" close=")" separator="," item="id">
      #{id}
    </foreach>
  </select>
</mapper>